<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxtdYzh6ujvLIMoaSbGqfJbaliExW8h48</string>
	<key>GCM_SENDER_ID</key>
	<string>872764606941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharewheels</string>
	<key>PROJECT_ID</key>
	<string>sharewheel-65b74</string>
	<key>STORAGE_BUCKET</key>
	<string>sharewheel-65b74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872764606941:ios:a09c3c22016f56c8408e34</string>
</dict>
</plist>